:root {
  --primary-font: 'Open Sans', sans-serif;
  --font-size-16: 16px;
  --font-size-24: 24px;

  --primary-color: #22a6b3;
  --primary-light-color: #7ed6df;
  --secondary-color: #eb4d4b;
  --black: #0b0b0b;
  --white: #ffffff;
  --green: #6ab04c;
  --gray: #c0c0c0;

  --box-shadow: 0 0.1em 10px rgba(0, 0, 0, 0.1);
  --border-radius: 0.285em;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  font-size: var(--font-size-16);
  line-height: 1.5;
  background-color: var(--gray);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

span,
li {
  display: block;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.text-center {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 960px;
  margin: 2em auto;
}

.grid {
  background-color: var(--white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.item {
  padding: 20px;
  border-radius: var(--border-radius);
}

.item:nth-child(odd) {
  background-color: var(--primary-color);
}
.item:nth-child(even) {
  background-color: var(--primary-light-color);
}
